<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
	<property name="log_dir" value="log"/>
	<property name="app_dir" value=".PiTV"/>
	<appender name="C" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date{"HH:mm:ss,SSS 'UTC'", UTC} %-5level [%thread] %logger{5} %msg%n</Pattern>
		</encoder>
	</appender>
	<appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME:-${USERPROFILE}}/${app_dir}/${log_dir}/trace.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date{"yyyy-MM-dd HH:mm:ss,SSS 'UTC'", UTC} %-5level [%thread] %logger %msg%n</Pattern>
		</encoder>
		<!-- IF HOME (UNIX like systems) does not exist
			logback will use USERPROFILE (Windows systems)-->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${HOME:-${USERPROFILE}}/${app_dir}/${log_dir}/trace.log.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>8</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>8MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	<root level="INFO">
		<appender-ref ref="R"/>
		<appender-ref ref="C"/>
	</root>
</configuration>
